ProxyRequests off
    ProxyVia on      
    RewriteEngine On

    RewriteEngine On
    RewriteCond %{HTTP:Connection} Upgrade [NC]
    RewriteRule /(.*) ws://chat.bewedoc.ru:8080/$1 [P,L]

    ProxyPass                http://chat.bewedoc.ru:8080
    ProxyPassReverse         http://chat.bewedoc.ru:8080